{% include "base.html" %} {% block content %}


<!-- <div class="main">
    <section id="video">
        <div class="video-container">
        <video autoplay loop muted id="video-bg">
        <source src="/media/ethirajcollege/Ethivideo.mp4" type="video/mp4">
    </video>
    </div>
        <div style="margin-bottom: 15px;margin-left: 40px;font-family: 'Fredoka One', cursive;color: white;font-size: 3vw;background-color: rgba(0, 0, 0, 0.329);width: 50%;margin-top: 6%;margin-left: 30%;" class="p-3 text-center ">
            <p>Welcome To The <br>College of Excellence</p>
            <a style="font-size: 2vw;" class="btn btn-dark" href="#">Visit Our College</a>
            <a style="font-size: 2vw;" class="btn btn-dark" href="#">Apply To Join Us</a>
        </div>
    </section>

    <section id="vle">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                hi
            </div>
            <div class="col-md-6 col-sm-12">
                hi
            </div>
        </div>
    </section>
</div> -->




<section class="v-header container">
    <div class="fullscreen-video-wrap">
        <div id='container'>
            <video src='/media/ethirajcollege/Ethivideo.mp4' autoplay muted loop></video>
        </div>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-center">
        <h1 style="font-family: 'Courgette', cursive;font-size: 30px;">Welcome To The College of Excellence</h1><br><br>
        <a class="btn butn mr-3">Visit Our College</a>
        <a class="btn butn mr-3">Apply To Join Us</a>
    </div>
</section>

<section class="section section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-5">
                <img width="80%" height="80%" src="/media/ethirajcollege/24mp_Muthiah_2.jpg">
            </div>
            <div class="col-md-6 col-sm-12 p-5 vle">
                <h1 style="font-family: 'Great Vibes', cursive;"><b>Sir.V.L.Ethiraj</b></h1><br>
                <h6>Vellore Lakshmanaswamy Mudaliar Ethiraj (18 July 1890 – 18 August 1960) was an Indian lawyer and philanthropist who founded Ethiraj College for Women, a college in Chennai, India. He donated one million rupees (Rs.10 lakhs) as an endowment
                    for Ethiraj College for Women. He believed that <br></h6>
                <h5 style="color: black;"><i class="fas fa-quote-left"></i> Educating a man is educating an individual,<br> but educating a woman is<br> educating the entire family <i class="fas fa-quote-right"></i></i>
                </h5>


            </div>
        </div>
    </div>
</section>

<section class="slideshow">
    <div class="scontent">
        <h2 style="font-family:'Satisfy', cursive;color: rgb(0, 0, 0);margin-bottom: 120px; " class="text-center">Announcements</h2>
        <div class="scontent-carrousel">
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement1.jpg"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement2.jpg"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement3.png"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement4.jpg"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement5.jpg"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement6.jpg"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement7.png"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement8.jpg"> </figure>
            <figure class="shadow">
                <img src="/media/ethirajcollege/announcement9.jpg"> </figure>
        </div>

    </div>
</section>

<section class="section section-b">
    <div class="container">
        <div style="margin-bottom: 120px;">
            <h2 style="font-family: 'Sacramento', cursive;font-weight: bolder;" class="text-center">Achievements</h2>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('/media/ethirajcollege/flag.png')">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="font-weight: bolder;" class="display-4">
                            Passion Rediscovered</h2>
                        <p class="lead">Ethiraj College Alumni bags Gold!.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/media/ethirajcollege/illayaraja.png')">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="font-weight: bolder;" class="display-4">Ilayaraja Celebrates his Birthday</h2>
                        <p class="lead">Isainyani Ilayaraja Celebrates his 75th birthday with Ethirajians!.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/media/ethirajcollege/rank.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 style="font-weight: bolder;color: black!important;" class="display-4">College Ranks Top</h2>
                        <p class="lead">Our college ranks 22 in All Indian ranking of Arts!.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section id="card">
    <div class="container">
        <h3 style="font-family: 'Satisfy', cursive;" class="mt-5">Testimonials</h3>
        <div class="container ml-5">
            <div class="row">
                <div class="col-md-4 col-12 scard scard1">
                    <article>
                        <figure>
                            <img alt="Testimonial" src="https://images.pexels.com/photos/2317904/pexels-photo-2317904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                        </figure>

                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat, consequuntur doloribus voluptate esse iure?
                            </p>
                            <h1>
                                Marvellous Macaw
                            </h1>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-12 scard">
                    <article>
                        <figure>
                            <img alt="Testimonial" src="/media/ethirajcollege/sp muthuraman.jpg" />
                        </figure>

                        <div>
                            <p>
                                இக்கல்லூரியைப் பற்றி முழுதும் அறிவேன். மேலும் மேலும் வளர்ந்து சாதனைகள் படைத்து, சரித்திரத்தில் இடம் பெறுகிறது . இந்த வெற்றிக்குத் துனையாக இருக்கும் அனைவருக்கும் எங்களின் பாராட்டுக்கள்.
                            </p>
                            <h1>
                                S P முத்துராமன்இயக்குனர்
                            </h1>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-12 scard">
                    <article>
                        <figure>
                            <img alt="Testimonial" src="https://images.pexels.com/photos/2317904/pexels-photo-2317904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                        </figure>

                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti repellat, consequuntur doloribus voluptate esse iure?
                            </p>
                            <h1>
                                Marvellous Macaw
                            </h1>
                        </div>
                    </article>
                </div>


            </div>
        </div>
    </div>
</section>


<section id="events">
    <div class="main">
        <div style="margin-bottom: 120px;">
            <h1 style="font-family: 'Great Vibes', cursive;" class="mb-5">Current Events</h1>
        </div>
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="/media/ethirajcollege/dance.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Let's Dance</h2>
                        <p class="card_text">Come join and show your style</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="/media/ethirajcollege/doodling.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Doodling Wars</h2>
                        <p class="card_text">Sketch & spread black and white</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="/media/ethirajcollege/junkart.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Junk Art</h2>
                        <p class="card_text">Let's turn waste to wealth</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="/media/ethirajcollege/singing.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Singer of the College</h2>
                        <p class="card_text">Tone the change</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="/media/ethirajcollege/photography.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Photography</h2>
                        <p class="card_text">Capture the amazing</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="/media/ethirajcollege/painting.jpg"></div>
                    <div class="card_content">
                        <h2 class="card_title">Painting</h2>
                        <p class="card_text">Splash your creativity</p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>



<section id="count">
    <div class="mt-5 pt-5 container text-center">
        <h2 style="font-family: 'Righteous', cursive;">Our Strength</h2>
    </div>
    <div style="margin-top: 200px;padding-bottom: 150px;" class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-6">
                <i style="font-size: 80px" class="fas fa-user-graduate"></i><br>
                <h3>8000+ Students</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <i style="font-size: 80px" class="fas fa-chalkboard-teacher"></i><br>
                <h3>300+ Teachers</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <i style="font-size: 80px" class="fas fa-graduation-cap"></i><br>
                <h3>100+ Courses</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <i style="font-size: 80px" class="fas fa-people-carry"></i><br>
                <h3>50+ Extra-curricular activities</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <i style="font-size: 80px" class="fas fa-trophy"></i><br>
                <h3>7+ Social Clubs</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-6">
                <i style="font-size: 80px" class="fas fa-city"></i><br>
                <h3>Hostel and Van facilities</h3>
            </div>
        </div>
    </div>
</section id="dep">

<section id="career">
    <div class="container career">
        <div class="row">
            <div class="col-md-6 col-12 mt-5">
                <img src="/media/ethirajcollege/career.jpg">
            </div>
            <div class="col-md-6 col-12 mt-5">
                <h2 style="font-family: cursive">Choose Your Passion</h2>
                <p>Take Your First Step to drive your passion</p><br>
                <h1 class="kreep">
                    <button class="button button5"><b>Courses</b></button>
                </h1>
            </div>
        </div>
    </div>
</section>


<section id="proud">
    <div style="margin-top: 80px;" class="container">
        <h2 style="font-family: 'Dancing Script', cursive;">Proud Ethirajian of the Month</h2>
        <div class="row">
            <div style="margin-top: 70px;" class="col-md-6 col-sm-12">
                <img width="100%" height="100%" src="/media/ethirajcollege/beat boxer (2).jpg">
            </div>
            <div style="font-family: 'Josefin Sans', sans-serif;" class="col-md-6 col-sm-12 p-5 vle">
                <h1><b>Future Music Queens</b></h1><br>
                <h4>selvi.--- and selvi.--- from ----- Department featured on Ilayaraja sirs birthday and mermerised the entire auditorium <br></h4>


            </div>
        </div>
    </div>
</section>

<section id="plain">
    <p>.</p>
</section>




{% endblock content %}